:root {
  color-scheme: dark;
  --background-colour: #000;
  --grey-background-colour: #202020;
  --grey-background-colour-trans: rgba(32, 32, 32, 0.5);
  --text-colour: #bbb;
  --link-colour: #669999;
  --link-hover-colour: #defcba;
  --header-colour: #deadab;
  --gold-colour: #efdcab;
  --border-colour: #90909090;
  --news-header-colour: #a1b2c3;
  --box-header-background-colour: #101010;
}
@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src:
    url('FontWithASyntaxHighlighter-Regular.woff2')
    format('woff2')
  ;
}
@font-palette-values --myCustomPalette {
  font-family: 'FontWithASyntaxHighlighter';
  override-colors:
    0 orange,      /* keywords, {} */
    1 red,         /* comments */
    2 yellow,      /* literals */
    3 turquoise,   /* numbers */
    4 deepskyblue, /* functions, [] */
    5 lightgreen,  /* js others */
    6 black,       /* not in use */
    7 hotpink,     /* inside quotes, css properties, few chars */
    8 darkgray     /* few chars */
  ;
}


body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-family: Verdana;
  margin: 0 1ex 1ex 0;
}

p {
  text-align: justify;
  font-size: 1em;
}

.site {
  display: flex;
}

@media only screen and (min-width: 1000px) {
  .middle {
    width: calc(100% - (175px + 175px));
  }
  .content {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media only screen and (max-width: 999px) {
  .middle {
    width: calc(100% - 175px);
  }
  .content {
    padding-left: 2%;
    padding-right: 2%;
  }
}


.content img {
  max-width: 100%;
}

.newsheader {
  background-color: var(--box-header-background-colour);
  color: var(--news-header-colour);
  display: flex;
  font-family: Arial;
  width: 100%;
  border-bottom: 1px solid var(--border-colour);
}
.newstitle {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1ex;
}
.newsmeta {
  font-size: 1em;
  padding-left: 1em;
  padding-top: 1.5ex;
}

.newscontainer {
  margin-bottom: 2em;
  border-color: var(--border-colour);
  border-style: solid;
  border-width: 1px;
}
.newscontent {
  padding: 0 1em 0 1em;
}
.newscontent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.newscontent table {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1500px) {
  .contentillustration {
    padding-top: 100px !important;
  }
}

.content h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1ex;
  white-space: pre-line;
  padding-bottom: 2em;
}
.contentillustration {
  padding-top: 2em;
  text-align: center;
}
.contentillustration img {
  max-height: 128px;
}

.menudescr {
  color: var(--header-colour);
  white-space: nowrap;
  font-weight: bold;
}
.menuheader {
  color: var(--gold-colour);
  padding-top: 1em;
  font-weight: bold;
}


a {
  color: var(--link-colour);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-colour);
}
a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}


.toplogo {
  margin-left: 1em;
  height: 80px;
  padding: 1ex;
  position: absolute;
}

.copyrightfooter {
  text-align: center;
  color: var(--gold-colour);
  padding: 1em 10% 1em 10%;
}
.gold {
  color: var(--gold-colour);
  display: inline;
}

.leftmenu {
    width: 175px;
}

.menucontentleft {
  padding-right: 1ex;
  border-right: 1px solid var(--border-colour);
  margin-top: -5px;
}
.leftmenu hr {
  margin-left: 1ex;
}
.menucontent {
  font-family: Arial;
  text-align: end;
}
.menucontent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menucontent hr {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0;
  background: var(--border-colour);
  border: none;
  height: 1px;
}


@media only screen and (min-width: 1000px) {
  .leftmenu::after {
    content: "";
    display: block;
    background: var(--border-colour);
    width: 175px;
    height: 50px;
    clip-path: path("M 0 50 L 0 49 L 149 49 L 174 30 L 174 0 L 175 0 L 175 31 L 150 50 L 0 50 Z");
  }
  .rightmenu {
    top: 0;
    right: 3px;
    position: absolute;
  }
  .menucontentright {
    padding-left: 1ex;
    border-left: 1px solid var(--border-colour);
  }
  .rightmenu hr {
    margin-left: 0;
  }
  .menuend {
    display: none;
  }
}
@media only screen and (max-width: 999px) {
  .rightmenu::after {
    content: "";
    display: block;
    background: var(--border-colour);
    width: 175px;
    height: 50px;
    clip-path: path("M 0 50 L 0 49 L 149 49 L 174 30 L 174 0 L 175 0 L 175 31 L 150 50 L 0 50 Z");
  }
  .rightmenu {
    position: relative;
    margin-top: -1em;
  }
  .menucontentright {
    padding-top: 1em;
    padding-right: 1ex;
    border-right: 1px solid var(--border-colour);
    margin-top: -5px;
  }
  .rightmenu hr {
    margin-left: 1ex;
  }
  .postedby {
    display: none;
  }
}
.rightmenu {
    width: 175px;
}
.rightmenu img {
    display: none;
}

@media only screen and (min-width: 1000px) {
  .rightmenu::before {
    content: "";
    display: block;
    background: var(--border-colour);
    width: 175px;
    height: 120px;
    clip-path: path("M 0 120 L 0 110 L 30 90 L 40 90 L 140 20 L 175 20 L 175 21 L 140 21 L 40 91 L 30 91 L 1 110 L 1 120 Z");
  }
  .rightmenu::after {
    content: "";
    display: block;
    background: var(--border-colour);
    width: 175px;
    height: 50px;
    clip-path: path("M 0 0 L 0 30 L 25 50 L 175 50 L 175 49 L 25 49 L 1 30 L 1 0 Z");
  }
}

#menulogo {
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
    width: 80px;
}
#menulogoencirclement {
    clip-path: path("M 175 49 L 400 49 L 499 0 L 500 0 L 400 50 L 175 50 L 151 50 A 61 61 0 1 0 150 80 L 175 80 L 175 175 L 174 175 L 174 79 L 151 79 A 61 61 0 1 1 150 49 Z");
    background-color: var(--border-colour);
    height: 150px;
    width: 175px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#topline {
    position: absolute;
    top: 0;
    width: 400px;
    height: 100px;
    clip-path: path("M 0 99 L 0 100 L 275 100 L 400 1 L 400 0 L 275 99 L 0 99 Z");
    background-color: var(--border-colour);
}

.formattable {
    background-color: var(--grey-background-colour);
    width: 100%;
    border: 1px solid var(--border-colour);
}

.formatcontainer h2 {
  background-color: var(--box-header-background-colour);
  color: var(--news-header-colour);
  display: flex;
  font-family: Arial;
  width: 100%;
  border: 1px solid var(--border-colour);
  margin-bottom: 0;
  padding: 0.5ex;
  box-sizing: border-box;
}
.formatlbl {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-right: 1em;
    width: 7em;
}
.formatbitlbl {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-right: 1em;
}
.formatbox {
    padding: 0 1em 1em 1em;
    margin: 1em;
    background-color: var(--grey-background-colour-trans);
    border: 3px solid var(--border-colour);
}
.formatbox-title {
    font-size: 1.5em;
    text-decoration: underline;
}

code {
    color: var(--header-colour);
    word-wrap: break-word;
    padding: .1rem .3rem .3rem;
    border-radius: .2rem;
    border: 1px solid;
    border-color: var(--border-colour);
    font-family: monospace;
}
.code-block code {
    border: 0;
}
.code-block {
    word-wrap: break-word;
    padding: .1rem .3rem .3rem;
    border-radius: .2rem;
    border: 1px solid;
    border-color: var(--border-colour);

    line-height: 1em;
    font-size: medium;

    counter-reset: line;
    padding-left: 3em;
    position: relative;
    white-space: pre;
}

.line {
    display: block;
    position: relative;
    padding-left: 1.5em;
    font-family: "FontWithASyntaxHighlighter", monospace;
    font-palette: --myCustomPalette;
}

/* Line number styling */
.line::before {
    counter-increment: line;
    content: counter(line);
    position: absolute;
    left: -2.5em;
    width: 2em;
    text-align: right;
    color: var(--text-colour);
    user-select: none; /* prevents selecting line numbers */
    font-family: monospace;
}



.centered {
    margin: auto;
    display: block;
}
